services:
  db:
    image: mysql:8.0
    container_name: book_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      # Mount the SQL dump to be executed on first startup
      - ./GoLang Back-end API/books.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  api:
    build:
      context: "./GoLang Back-end API"
      dockerfile: Dockerfile
    container_name: book_api
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db:3306
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    networks:
      - app_network

  web:
    build:
      context: "./React Front-end"
      dockerfile: Dockerfile
    container_name: book_web
    restart: always
    ports:
      - "8081:80"
    depends_on:
      - api
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
